@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
}
form {
  font-family: "Ubuntu", sans-serif;
}
.container h1 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}
.container .form-row .form-alert {
  transition: display 0.3s ease-in-out;
}
